// Global$black: #000000;$black-light-border: #999999;$black-light: #333333;$white: #ffffff;$red: #cf0000;$grey: rgba(80, 80, 80, 0.65);$grey-light: #e4e4e4;$grey-light-border: #dddddd;// Text$text-dark: #202021;$text-dark-light: $black-light;