html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $black-light;
  font-family: Arial;
  width: 100%;

  * {
    outline:none;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }

    &:visited {
      text-decoration: none;
    }
  }

  .fill {
    height: 100%;
  }

  .no-padding {
    padding: 0 !important;
  }

  .no-margin {
    margin: 0 !important;
  }

  .important {
    color: $red;
  }

  .btn-important {
    background-color: $red;
    color: $white;
  }

  .body-wrapper {
    background-image: url("../images/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;

    .content-container {
      background-color: $white;
    }
  }

  .navbar {
    .container {
      width: auto;
    }
  }

  .main-container {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}
