.container-footer {
  margin-bottom: 20px;

  .separated {
    padding-top: 10px;
    border-top: 1px dotted $black;
  }

  .ad-container {
    padding-bottom: 0;
    padding-top: 10px;
  }

  .footer-navbar {
    padding-top: 10px;
    padding-bottom: 10px;

    .navbar {
      margin-bottom: 0;

      &.navbar-default {
        background-color: transparent;
        border-color: transparent;

        .navbar-nav > li {
          a {
            color: $black;
            //padding-left: 10px;
            //padding-right: 10px;

            &:hover {
              -webkit-transition: color 1s;
              text-decoration: underline;
              -moz-transition: color 1s;
              -ms-transition: color 1s;
              -o-transition: color 1s;
              transition: color 1s;
              cursor: pointer;
              color: $grey;
            }
          }

          &.vdivider {
            a {
              text-decoration: none;
              padding-right: 5px;
              padding-left: 5px;
              cursor: inherit;
              color: $black;
            }
          }
        }
      }
    }
  }

  .footer-copyrights {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 0.9em;
  }
}
