.gallery-preview {
  h2 {
    padding-top: 0;
    margin-top: 0;

    a {
      color: $black;

      &:hover {
        color: $grey;
        -webkit-transition: color 1s;
        -moz-transition: color 1s;
        -ms-transition: color 1s;
        -o-transition: color 1s;
        transition: color 1s;
      }
    }
  }

  img {
    width: 100%;
  }
}
