.container-header {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 10px;

  &> div:first-child {
    padding-right: 5px;
  }

  &> div:last-child {
    padding-left: 5px;
  }

  .header-banner {
    padding-left: 5px;
    padding-right: 5px;

    > * {
      width: 100%;
    }
  }

  ul.social-links {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: inline-block;
      padding: 0;
      margin: 0;
      height: 24px;
      width: 24px;

      &+ li {
        margin-left: 5px;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../images/social_icons.png");
        background-repeat: no-repeat;

        &:hover {
          opacity: 0.5;
        }

        &.social-twitter {
          background-position: 0 0;
        }

        &.social-facebook {
          background-position: -37px 0;
        }

        &.social-rss {
          background-position: -74px 0;
        }
      }
    }
  }

  .search-box {
    .form-group {
      margin-bottom: 0;

      input, button {
        border-color: $black-light;
        padding-bottom: 3px;
        padding-top: 3px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }

      input {
        height: auto;
        margin: 0;

        &:focus {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }

      .input-group-btn {
        button {
          color: $white;
          background-color: $black-light;

          &:hover {
            background-color: $grey;
            -webkit-transition: background-color 1s;
            -moz-transition: background-color 1s;
            -ms-transition: background-color 1s;
            -o-transition: background-color 1s;
            transition: background-color 1s;
          }
        }
      }
    }
  }
}

.header-navbar {
  padding: 0 15px;
  background-color: $white;

  .navbar {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: none;

    .container {
      padding-left: 0;
      padding-right: 0;

      .navbar-collapse {
        padding-left: 0;
        padding-right: 0;

        .nav {
          li {
            a {
              font-family: 'bebasregular';
              text-transform: uppercase;
              color: $white;
              padding-left: 15px;
              padding-right: 15px;
            }

            &:hover {
              background-color: $red;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .header-navbar {
    padding-left: 5px;

    .navbar {
      .container {
        padding-left: 15px;
        padding-right: 15px;
      }

      .navbar-collapse {
        padding-left: 15px;
        padding-right: 15px;

        .navbar-nav {
          li {
            padding-left: 20px;
          }
        }
      }
    }
  }
}
