.home-page {
  .category-box {
    padding-right: 10px;

    .category-posts {
      padding-left: 15px;
    }

    &+ .category-box {
      margin-top: 20px;
    }

    .category-title {
      position: relative;

      h2 {
        border-bottom: 4px solid $red;
        font-family: 'bebasregular';
        text-transform: uppercase;
        padding-right: 70px;
        word-spacing: 2px;
        font-size: 1.5em;
      }

      a {
        display: block;
        color: $white;
        font-size: 0.7em;
        font-weight: bold;
        padding: 5px 20px;
        position: absolute;
        right: 0;
        bottom: 10px;
        text-transform: uppercase;
        background-color: $red;

        &:hover {
          cursor: pointer;
          color: $black;
        }

        &:after {
          padding-left: 5px;
          content: '+';
          background-color: $red;
        }
      }
    }

    .category-post {
      padding: 0;

      &+ .category-post {
        padding-left: 10px;
      }

      img {
        width: 100%;
      }

      h5 {
        color: $black;
        font-size: 0.9em;
        line-height: 1em;
        font-weight: bold;
        margin-bottom: 2px;
        text-align: justify;
      }

      p {
        font-family: Arial;
        font-size: 0.9em;
        line-height: 1em;
        text-align: justify;
      }

      a.readmore-link {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.7em;
        color: $red;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .category-gallery {
      padding-bottom: 5px;

      &> div {
        padding-left: 15px;
        padding-right: 0;
        margin-bottom: 5px;

        img {
          width: 100%;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;

          &:hover {
            cursor: pointer;
            -webkit-transform: rotate(-10deg);
            -moz-transform: rotate(-10deg);
            -o-transform: rotate(-10deg);
            -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
          }
        }
      }
    }

    .category-articles {
      &> div {
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 0;
      }

      h3 {
        margin-top: 0;
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 3px;
        text-align: justify;

        a {
          font-weight: bold;
          color: $black;
        }
      }

      p {
        text-align: justify;
        font-family: Arial;
        line-height: 0.9em;
        font-size: 0.9em;
      }

      div.item-meta {
        font-size: 0.8em;
        border-bottom: 1px dotted $black;
        padding-bottom: 10px;

        .important {
          color: $red;
        }

        .separator {
          margin-left: 3px;
          margin-right: 3px;
        }
      }
    }
  }
}
