@mixin block-title {
  .category-title {
    h2 {
      border-bottom: 4px solid $red;
      font-family: 'bebasregular';
      text-transform: uppercase;
      word-spacing: 2px;
      font-size: 1.5em;
    }
  }
}

.category-recent {
  @include block-title;

  a.category-link {
    text-transform: uppercase;
    background-color: $red;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 0.7em;
    color: $white;

    &:hover {
      cursor: pointer;
      color: $black;
    }

    &:after {
      padding-left: 5px;
      content: '+';
      background-color: $red;
    }
  }

  .category-recent-item {
    margin-bottom: 5px;
    padding-bottom: 5px;

    .valign-middle {
      display: inline-block;
      vertical-align: middle;
      float: none;
    }

    .boundary {
      margin-top: 5px;
      border-bottom: 1px dotted $grey-light-border;
    }

    h5 {
      color: #000000;
      font-size: 0.9em;
      line-height: 1em;
      font-weight: bold;
      margin-bottom: 2px;
      text-align: justify;
    }

    p {
      text-align: justify;
      font-family: Arial;
      margin-bottom: 5px;
      font-size: 0.9em;
      line-height: 1em;
    }

    a.post-link {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.7em;
      color: #cf0000;

      &:hover {
        text-decoration: underline;
      }
    }

    .post-date {
      padding-left: 5px;
      padding-right: 5px;
      text-align: justify;
      font-family: Arial;
      font-size: 0.9em;
      line-height: 1em;
    }
  }
}

.category-preview {
  margin-top: 10px;
  @include block-title;

  .category-preview-item {
    margin-bottom: 5px;
    padding-bottom: 5px;

    img {
      width: 100%;
    }

    h5 {
      color: $red;
      font-size: 0.9em;
      line-height: 1em;
      font-weight: bold;
      margin-bottom: 2px;
      text-align: justify;

      a {
        color: $red;
      }
    }
  }

}

