@mixin block-title {
  .category-title {
    h2 {
      border-bottom: 4px solid $red;
      font-family: 'bebasregular';
      text-transform: uppercase;
      word-spacing: 2px;
      font-size: 1.5em;
    }
  }
}

.homepage-sidebar {
  &> .row {
    &+ .row {
      margin-top: 15px;
    }
  }

  .news-subscription {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    padding: 5px;

    h2 {
      font-family: "bebasregular";
      text-align: justify;
      margin-bottom: 5px;
      word-spacing: 2px;
      font-size: 1.2em;
      margin-top: 5px;
    }

    .help-block {
      font-size: 0.8em;
    }

    .form-group {
      margin-bottom: 5px;

      input {
        border-color: $black-light-border;
      }
    }

    input, button {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }

    button {
      font-size: 1em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .category-popular {
    @include block-title;

    a.category-link {
      text-transform: uppercase;
      background-color: $red;
      font-weight: bold;
      padding: 5px 20px;
      font-size: 0.7em;
      color: $white;

      &:hover {
        cursor: pointer;
        color: $black;
      }

      &:after {
        padding-left: 5px;
        content: '+';
        background-color: $red;
      }
    }

    .category-popular-item {
      margin-bottom: 5px;
      padding-bottom: 5px;

      .valign-middle {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }

      .boundary {
        margin-top: 5px;
        border-bottom: 1px dotted $grey-light-border;
      }

      &> span {
        font-size: 1em;
        line-height: 1em;
      }

      h5 {
        color: #000000;
        margin-top: 0;
        font-size: 1em;
        line-height: 1em;
        font-weight: bold;
        margin-bottom: 2px;
        text-align: justify;
      }

      a.post-link {
        text-transform: uppercase;
        margin-left: 5px;
        font-weight: bold;
        font-size: 0.8em;
        color: #cf0000;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .category-ad {
    @include block-title;

    .category-ad-item {
      margin-bottom: 5px;
      padding-bottom: 5px;

      img {
        width: 100%;
      }
    }
  }
}
