@font-face {
  font-family: 'bebasregular';
  src: url('../fonts/bebas/bebas___-webfont.eot');
  src: url('../fonts/bebas/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bebas/bebas___-webfont.woff') format('woff'),
  url('../fonts/bebas/bebas___-webfont.ttf') format('truetype'),
  url('../fonts/bebas/bebas___-webfont.svg#bebasregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
